[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
python-dotenv = "*"
isort = "*"
flake8 = "*"
requests = "*"
html2text = "*"
beautifulsoup4 = "*"
newspaper3k = "*"
feedparser = "*"
python-dateutil = "*"
python-telegram-bot = "*"
selenium = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
