{% extends "news/base.html" %}
{% block content %}
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-1">{{ article.title }}</h1>
            <p>Published by: {{ article.author }}</p>
            <p>{{ article.date }}</p>
            <div class="article">
                {{ article.content | linebreaks }}
            </div>
            <p class="text-break">You can find the current article at its original source at <a
                    href="{{ article.source_link }}">{{ article.source_link }}</a></p>
        </div>
    </main>
{% endblock %}