{% extends "news/base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        {% for article in article_list %}
            <div class="col-md-4 col-sm-12 mb-4">
                <div class="card h-100">
                    <a href="{% url 'news:detail' article.id %}">
                        <img src="{{ article.img }}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.short_text }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        <div class="d-flex justify-content-center">
            <nav style="margin-top: 1rem">
                {% include 'news/paginator_template.html' %}
            </nav>
        </div>
    </div>
{% endblock %}