body {
    padding-top: 5rem;
}

a {
    color: black;
    text-decoration: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.container {
    justify-content: space-evenly;
}

.card{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
	display:flex;
    margin:8px;
}

.card:hover {
    display: flex;
    flex-grow: 0.1;
    transition: 800ms;
    background-color: #ABCDEF;
}


img {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}